.fullbox.style1 .fullbox-content {
    width: 100%;
}

.flat-button.bg-read-more.v2 {
    background-color: #F21D2F;
}

/*** Menu ***/
#mainnav ul.submenu > li > a {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}

/*** /Menu ***/

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

section.page-title.v3.clearfix.parallax.parallax5 {
    background-color: #F26B76;
}

.page-title.v3 {
    padding: 80px 0;
}

.widget-categories.v1 {
    margin-bottom: 30px;
}

.widget-categories.v1 li a {
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.widget-deal {
    padding-top: 10px;
    background: #F26B76;
}

.flat-featured-services {
    margin-bottom: 30px;
}

.flat-featured-services .flat-title {
    margin-bottom: 20px;
}

.flat-company-overviews .flat-title.v4 h3 {
    margin-bottom: 40px;
}

.iconbox.style1 .iconbox-content {
    padding-left: 0;
}

.flat-support .flat-title.v4 .title {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
}