/**
  * Name: AUTOMOV
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/
@import url('bootstrap.css');
@import url('liblary.css');
@import url('shortcode.css');
@import url('elegant-icons.css');
@import url('CenturyGothic.css');
@import url('font-awesome.min.css');
@import url('ionicons.min.css');
@import url('jquery-ui.css');
@import url('jquery-yys-slider.css');
@import url('jquery-fancybox.css');
@import url('owl.carousel.css');
@import url('automov-icon.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i|Rajdhani:400,500,600,700');
/**
  *
  *	Reset
  *	Repeatable Patterns
  * Extra classes
  * Typography
  * Top
  * Header
  * Mobile Menu Button
  * Mobile navigation
  * Page Title
  * Sidebar
  * Pagination
  * Footer
  * Grid
  * Shop Page
  * Error Page
  * Gallery Page
  * Team Page
  * Contact Page
  * Book Calendar Page
  * Projects Page
  * Services Page
  * Slider
  * Preloader
  * Go Top
  * Switcher
  *
**/

/* Reset
-------------------------------------------------------------- */
	html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
	body{line-height:1;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,caption,canvas,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,form,footer,header,hgroup,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,tt,table,tbody,textarea,tfoot,thead,time,tr,th,td,u,ul,var,video{font-family:inherit;font-size:100%;font-weight:inherit;font-style:inherit;vertical-align:baseline;margin:0;padding:0;border:0;outline:0;background:transparent}
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
	ol,ul{list-style:none}
	blockquote,q{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;quotes:none}
	figure{margin:0}
	:focus{outline:0}
	table{border-collapse:collapse;border-spacing:0}
	img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}
	legend{white-space:normal}
	button,input,select,textarea{font-size:100%;margin:0;max-width:100%;vertical-align:baseline;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
	button,input{line-height:normal}
	input,textarea{background-image:-webkit-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0))}
	button,input[type="button"],input[type="reset"],input[type="submit"]{line-height:1;cursor:pointer;-webkit-appearance:button;border:none}
	input[type="checkbox"],input[type="radio"]{padding:0}
	input[type="search"]{-webkit-appearance:textfield}
	input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
	button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
	*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* Repeatable Patterns
-------------------------------------------------------------- */
	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
	}

	body {
		font: 14px/24px "Open Sans", sans-serif;
		color: #343434;
		overflow: hidden;
	}

	a {
		font-family:  "Rajdhani", sans-serif;
		font-size: 14px;
		text-decoration: none;
		color: #000;
		-webkit-transition: all 0.3s ease-in-out;
		   -moz-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			 -o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
	}

	a:hover,
	a:focus {
		color: #137bc0;
		text-decoration: none;
		outline: 0;
		-webkit-transition: all 0.3s ease-in-out;
		   -moz-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			 -o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
	}

	ul, ol {
		padding: 0;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	b, strong {
		font-weight: 900;
	}

	button {
		border: none;
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		font-family:  "Rajdhani", sans-serif;
		font-weight: 700;
	    display: inline-block;
	    padding: 0px 28px;
	    line-height: 24px;
	    font-size: 14px;
	    color: #ffffff;
	    background: #137bc0;
	    -webkit-border-radius: 2px;
	    -ms-border-radius: 2px;
	    -o-border-radius: 2px;
	    -moz-border-radius: 2px;
	    position: relative;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    outline: none !important;
	}

	button:hover,
	input[type="button"]:hover,
	input[type="reset"]:hover,
	input[type="submit"]:hover {
	    color: #fff;
	    background: #212121;
	}


	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	input[type="email"] {
		position: relative;
	    display: block;
	    width: 100%;
	    line-height: 24px;
	    padding: 0px 25px;
	    color: #c2c2c2;
	    border: 1px solid #d0d0d0;
	    height: 50px;
	    background-color: #fff;
		-webkit-transition: all 0.3s ease-in-out;
		   -moz-transition: all 0.3s ease-in-out;
		    -ms-transition: all 0.3s ease-in-out;
		     -o-transition: all 0.3s ease-in-out;
		        transition: all 0.3s ease-in-out;
	}

	input[type="search"] {
	    width: 300px;
	    height: 56px;
	    margin-bottom: 0px;
	    border-radius: 0px;
	    background-color: #f6f6f6;
	    color: #343434;
	    padding: 0 27px;
	}


	textarea:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus {
		border: 1px solid #137bc0;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}

	textarea {
		width: 100%;
		padding: 14px 21px;
    	height: 215px;
	}

	input[type="checkbox"] {
		display: inline;
	}

	textarea:-moz-placeholder,
	textarea::-moz-placeholder,
	input:-moz-placeholder,
	input::-moz-placeholder {
		color: #c2c2c2;
		opacity: 1;
	}

	input:-ms-input-placeholder {
		color: #c2c2c2;
	}

	textarea::-webkit-input-placeholder,
	input::-webkit-input-placeholder {
		color: #c2c2c2;
		opacity: 1;
	}

	input[type="search"]::placeholder {
		color: #221f1f !important;
		opacity: 0.7;
	}

/* Extra classes
-------------------------------------------------------------- */
	/* Font Family */
	.font-Rajdhani{font-family:"Rajdhani",sans-serif}
	.font-Open{font-family:"Open Sans",sans-serif}

	/* Font Size */
	.font-size-36{font-size:38px!important}
	.font-size-20{font-size:20px!important}
	.font-size-16{font-size:16px!important}
	.font-size-14{font-size:14px!important}

	/* Font Weight */
	.font-weight-700{font-weight:700!important}
	.font-weight-600{font-weight:600!important}
	.font-weight-500{font-weight:500!important}
	.font-weight-400{font-weight:400!important}

	/* Line Height */
	.line-height-72{line-height:72px!important}
	.line-height-50{line-height:50px!important}
	.line-height-39{line-height:39px!important}
	.line-height-28{line-height:28px!important}
	.line-height-27{line-height:27px!important}
	.line-height-26{line-height:26px!important}
	.line-height-24{line-height:24px!important}
	.line-height-normal{line-height:normal!important}

	/* Color */
	.text-e8b006 {
		color: #e8b006;
	}

	.text-898b8a {
		color: #898b8a;
	}

	.text-a5aac0 {
		color: #a5aac0;
	}

	/* Background */
	.bg-137bc0 {
		background: #137bc0 !important;
	}

	.bg-e8b006 {
		background: #e8b006 !important;
	}

	.bg-fff {
		background: #fff;
	}

	.bg-efefef {
		background: #efefef;
	}

	.bg-f6f6f6 {
		background: #f6f6f6
	}

	.bg-f9f9f9 {
		background: #f9f9f9;
	}

	.bg-f4f4f4 {
		background: #f4f4f4;
	}

	.bg-f0f0f0 {
		background: #f0f0f0;
	}

	.fix-float-box {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}

/* Typography
-------------------------------------------------------------- */
	h1,h2,h3,h4,h5,h6{font-family:"Rajdhani",sans-serif;font-weight:700}
	h1,h1 a{font-size:36px;line-height:60px}
	h2,h2 a{font-size:30px;line-height:24px}
	h3,h3 a{font-size:24px;line-height:24px}
	h4,h4 a{font-size:20px;line-height:24px}
	h5,h5 a{font-size:18px;line-height:24px}
	h6,h6 a{font-size:16px;line-height:24px}

/* Top
-------------------------------------------------------------- */
	.top {
		border-bottom: 1px solid #bfbfbf;
	}

	.top .flat-info	{
		width: 66.667%;
		float: left;
	}

	.top .flat-socails	{
		width: 33.333%;
		float: left;
	}

	.top .flat-title-page,
	.top .flat-menu-extra {
		float: left;
		width: 25%;
	}

	.top #logo {
		float: left;
		width: 50%;
	}
	/* style1 */
	.top.style1 #logo {
		width: 25%;
		padding:  50px 0 73px 0;
	}

	.top.style1 .flat-info {
		width: 75%;
		padding-top: 46px;
	}

	/* style2 */
	.top.style2  {
		border: unset;
	}

	.top.style2 .flat-info {
		width: 50%;
		padding-top: 17px;
	}

	.top.style2 .flat-socail {
		float: right;
		padding: 18px 20px 6px 0;
	}

	.top.style2 .wrap-btn {
		float: right;
		margin-bottom: -7px;
	}

/* Header
-------------------------------------------------------------- */
	#header {
		-webkit-transition: all 0.2s ease-in-out 0s;
		-moz-transition: all 0.2s ease-in-out 0s;
		-ms-transition: all 0.2s ease-in-out 0s;
		-o-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}

	#mainnav > ul {
		list-style: none;
		margin:  0;
		padding:  0;
	}

	#header #mainnav > ul >li {
		display: inline-block;
	}

	#header.header-v1 #mainnav > ul > li > a {
		position: relative;
	}

	#header #mainnav> ul >li.mega-menu {
		position: inherit;
	}

	#header .btn-canvas,
	#header .show-search {
		width: 10%;
		float: left;
	}

	#header #logo,
	#header .flat-menu-extra {
		width: 15%;
		float: left;
	}

	#header #mainnav > ul >li > a {
		font-size: 16px;
		line-height: 70px;
		margin:  0px 16.8px;
		display: block;
		color: #fff;
		font-weight: 500;
	}

	#mainnav ul.submenu {
		position: absolute;
		top: 150%;
		left: 0;
		width: 270px;
		background: #ffffff;
		box-shadow: 0px 5px 14.25px 0.75px rgba(0, 0, 0, 0.05);
		padding: 15px 30px;
		z-index: 9999;
		opacity: 0;
		visibility: hidden;
	    -webkit-transition: all 0.3s ease-in-out;
		   -moz-transition: all 0.3s ease-in-out;
		    -ms-transition: all 0.3s ease-in-out;
		     -o-transition: all 0.3s ease-in-out;
		        transition: all 0.3s ease-in-out;
	}


	#mainnav ul.submenu li ul {
		position: absolute;
		left: 241px;
		top: -15px !important;
	}


	#mainnav > ul.menu li:hover > ul.submenu {
		top: 80%;
		opacity: 1;
	    visibility: visible;
	}

	#mainnav ul.submenu > li > a {
		font-weight: 400;
		line-height: 40px;
		color: #343434;
		display: block;
		margin-bottom: 2px;
		font-family: "Open Sans";
		position: relative;
	}


	#mainnav ul.submenu > li.item-has-child > a:after {
		content: "\35";
		font-family: "ElegantIcons";
		position: absolute;
		right: 0;
	}


	#mainnav ul.submenu > li:hover > a,
	#mainnav ul.submenu > li.active > a {
		color: #137bc0;
	}

	#mainnav .submenu-mega {
		padding: 48px 0 60px;
		text-align: left;
		position: absolute;
		width: 100%;
		top: 150%;
		z-index: 999;
		left: 50%;
		transform: translateX(-50%);
		background: #fff;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	#header  #mainnav li:hover > .submenu-mega {
		visibility: visible;
		opacity: 1;
		top: 100%;
	}

	#mainnav ul.list-item  li > a {
		position: relative;
		display: block;
		font-family: "Open Sans";
		font-weight: 400;
		line-height: 40px;
	}

	#header #mainnav ul.list-item > li > a:after {
		content: "\35";
		font-family: "ElegantIcons";
		position: absolute;
		right: 15px;
	}

	#header #mainnav .heading-categories {
		position: relative;
		margin-bottom: 38px;
		line-height: 40px;
		color: #343434;
		font-size: 18px;
		font-weight: 700;
	}

	#header #mainnav .heading-categories:after {
		content: "";
		height: 3px;
		width: 50px;
		background: #1174bd;
		position: absolute;
		bottom: -2px;
		left: 0;
	}

	/* Header V2 */
	#header.header-v1,
	#header.header-v2 {
		background: url('../images/bg-menu.png') center center no-repeat;
		position: relative;
	}

	#header.header-v1 #mainnav > ul > li > a,
	#header.header-v2 #mainnav > ul > li > a {
		line-height: 39px;
		margin: 17px 0 15px;
		padding: 0 29px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	#header.header-v1 #mainnav > ul > li.active > a:before,
	#header.header-v2 #mainnav > ul > li.active > a:before,
	#header.header-v1 #mainnav > ul > li > a:before,
	#header.header-v2 #mainnav > ul > li > a:before {
		content: "";
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #e8b006;
		bottom: -5px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	#header.header-v1 #mainnav > ul > li.active > a:before,
	#header.header-v2 #mainnav > ul > li.active > a:before,
	#header.header-v1 #mainnav > ul > li:hover > a:before,
	#header.header-v2 #mainnav > ul > li:hover > a:before {
		opacity: 1;
	}

	#header.header-v1 #mainnav > ul > li.active > a,
	#header.header-v2 #mainnav > ul > li.active > a,
	#header.header-v1 #mainnav > ul > li:hover > a,
	#header.header-v2 #mainnav > ul > li:hover > a {
		background: #e8b006;
		position: relative;
		z-index: 99999;
	}


	#header #mainnav ul li {
		position: relative;
		text-align: left;
	}

	#header.header-v1 .nav-wrap,
	#header.header-v2 .nav-wrap {
		width: 80%;
		float: left;
	}

	#mainnav.header-v3 > ul >li > a:hover  {
		color: #137bc0;
	}

	/* Header V3 */
	#header.header-v3 {
		background: #fff;
	}

	.header-v3 #logo {
		width: 20%;
		float: left;
	}

	.header-v3 .nav-wrap {
		width: 80%;
		float: right;
		position: relative;
		margin-top: 3px;
	}

	#header #mainnav.header-v3 > ul.menu >li > a {
		color: #343434;
		font-weight: 700;
		line-height: 42px;
		padding: 0px 22px;
		border: 1px solid  transparent;
		margin: unset;
	}

	#header.header-v3 #mainnav > ul > li.active > a,
	#header.header-v3 #mainnav > ul > li:hover > a {
		color: #137bc0;
		border: 1px solid #e8b006;
		border-radius: 4px;
	}

	#mainnav.header-v3 > ul.menu li:hover > ul.submenu {
		top: 100%;
	}

	/* Header V4*/
	#header.header-v4 {
		background: #137bc0;
		position: relative;
	}

	#header.header-v4 #mainnav > ul >li {
		margin-left: -9px;
	}


	#header.header-v4 #mainnav ul.menu > li > a {
		display: unset !important;
		padding: 6px 32px 6px 34px;
		margin: unset !important;
	}

	#header.header-v4 #mainnav ul.menu > li.mega-menu > a {
		position: relative;
	}

	#header.header-v4 #mainnav ul.menu > li:hover > a,
	#header.header-v4 #mainnav ul.menu > li.active > a {
		background: #e8b006;
		border-radius: 25px;
	}

	/* Header V5 */
	#header.header-v5 {
		border-top: 4px solid #137bc0;
		background: #fff;
	}

	#header.header-v5 #logo {
		margin: 24px 0 26px;
 	}

 	#header.header-v5 .flat-menu-extra {
 		margin: 48px 0 44px;
 	}

	#header.header-v5 .nav-wrap {
		width: 70%;
		float: left;
	}

	#header.header-v5  #mainnav > ul >li > a {
		color: #8f8f8f;
		font-weight: 700;
		line-height: 126px;
		position: relative;
		margin: unset;
		padding: 0 28px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	#header.header-v5  #mainnav > ul >li {
		border-right: 1px solid #eeeeee;
	}

	#header.header-v5  #mainnav > ul >li:last-child {
		border-right: unset;
	}

	#header.header-v5 #mainnav > ul.menu li:hover > ul.submenu {
		top: 100%;
	}

	#header.header-v5  #mainnav > ul > li {
		margin-left: -4px;
	}

	#header.header-v5 #mainnav > ul > li:hover > a,
	#header.header-v5 #mainnav > ul > li.active > a {
		background: #f6f6f6;
	}

	#header.header-v5  #mainnav > ul > li > a:before {
		content: "";
		height: 4px;
		background: #e8b006;
		width: 0%;
		position: absolute;
		top: -4px;
		left: 0;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	#header.header-v5  #mainnav > ul > li:hover > a:before,
	#header.header-v5  #mainnav > ul > li.active > a:before {
		width: 100%;
	}

	/* Header V6 */
	.header-v6 .header-wrap {
		position: absolute;
		width: 100%;
		transform: translateY(-50%);
		z-index: 1;
	}

	.header-v6 .header-wrap:before {
		content: "";
		background: #137bc0;
		height: 70px;
		width: 100%;
		position: absolute;
		left: -50%;
	}

	#header.header-v6 .nav-wrap {
		float: left;
		width: 75%;
	}

	#header.header-v6 .wrap-btn {
		width: 25%;
		float: right;
		margin-bottom: -7px;
	}

	#header.header-v6 #mainnav > ul >li {
		margin-right: 56px;
	}

	#header.header-v6 #mainnav > ul >li > a {
		margin: unset;
	}

	#header.header-v6 #mainnav > ul >li.active > a:after {
		content: "";
		height: 3px;
		background: #fff;
		width: 100%;
		position: absolute;
		bottom: -3px;
		left: 0;
	}

	#header #mainnav> ul >li.mega-menu > a {
		position: relative;
	}


	#header.header-v6 #mainnav > ul.menu li:hover > ul.submenu {
		top: 100%;
	}

	/* Header V7 */
	#header.header-v7 {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	#header.header-v7 .nav-wrap {
		float: left;
		width: 70%;
		padding: 31px 0;
	}

	#header.header-v7 #logo {
		padding: 40px 0 20px;
	}

	#header.header-v7 .flat-menu-extra {
		padding: 52px  20px 0 0;
	}

	#header.header-v7 .flat-menu-extra .cart:before {
		content: "\f110";
		color: #fff;
		font-family: "Ionicons";
	}

	#header.header-v7 #mainnav > ul >li > a {
		position: relative;
		font-weight: 700;
		margin: 0 22.5px;
	}

	#header.header-v7 #mainnav > ul >li > a:after {
		content: "";
		background: #137bc0;
		height: 3px;
		width: 0%;
		position: absolute;
		bottom: 13px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	#header.header-v7 #mainnav > ul >li.active > a:after,
	#header.header-v7 #mainnav > ul >li:hover > a:after {
		width: 100%;
	}

	#header.header-v7 #mainnav > ul.menu li:hover > ul.submenu {
		top: 100%;
	}

	/* Canvas Menu */
	.canvas-menu {
		position: relative;
		width: 14px;
		height: 16px;
		margin: 28px 0 0px;
	}

	.canvas-menu span,
	.canvas-menu:before,
	.canvas-menu:after {
		height: 2px;
		background:  #fff;
		position: absolute;
	}

	.canvas-menu span {
		width: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	.canvas-menu:before {
		width: 10px;
		content: "";
		top: 0;
		left: 0;
	}

	.canvas-menu:after {
		width: 15px;
		content: "";
		bottom: 0;
		left: 0;
	}

	.wrap-canvas .logo {
		margin-bottom: 50px;
	}

	.canvas-nav {
		margin-bottom: 20px;
	}

	.canvas-nav ul.menu > li {
		padding-bottom: 20px;
	}

	.canvas-nav ul.menu li a {
		position: relative;
		display: block;
		font-size: 16px;
		font-weight: 500;
	}

	.canvas-nav ul.menu li a:after {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		content: "\35";
		font-family: "ElegantIcons";
		font-size: 16px;
	}

	.canvas-nav ul.menu > li.show > a:after {
		content: "\33";
	}

	.canvas-nav ul ul.submenu-canvas {
		border-top: 1px solid #dedede;
		margin-top: 20px;
		padding: 15px 0 0 15px;
	}

	.canvas-nav ul ul.submenu-canvas li {
		padding-bottom: 10px;
	}

	#site-off-canvas .close {
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		-webkit-opacity: 0;
		-khtml-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		filter: alpha(opacity=0);
		display: none\9;
		visibility: hidden;
		background: rgba(0, 0, 0, 0.8);
		z-index: 99999;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.off-canvas-active #site-off-canvas .close {
		-webkit-opacity: 1;
		-khtml-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100);
		display: block\9;
		visibility: visible;
		-webkit-transform: translateX(300px);
		-ms-transform: translateX(300px);
		transform: translateX(300px);
		-webkit-transition: all 0.2s ease-in-out 0s;
		-moz-transition: all 0.2s ease-in-out 0s;
		-ms-transition: all 0.2s ease-in-out 0s;
		-o-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
		cursor: url(../images/delete-close.png),auto;
	}

	.off-canvas-active #site-off-canvas .wrap-canvas {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	#site-off-canvas .wrap-canvas {
		position: fixed;
		left: 0;
		bottom: 0;
		top: 0;
		width: 300px;
		background: #ffffff;
		z-index: 999999;
		overflow: auto;
		padding:  50px;
		-webkit-transform: translateX(-300px);
		-ms-transform: translateX(-300px);
		transform: translateX(-300px);
		-webkit-transition: all 0.2s ease-in-out 0s;
		-moz-transition: all 0.2s ease-in-out 0s;
		-ms-transition: all 0.2s ease-in-out 0s;
		-o-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}

	.canvas-nav #mainnav-canvas ul > li > ul.submenu-canvas {
		display: none;
	}

	/* Fixed Menu */
	#header.fixed-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;

	}

	.header-v5.fixed-header,
	.header-v3.fixed-header {
		background: #fff;
	}

	.header-v7.fixed-header {
		background: #333;
	 }

	.header-v6.fixed-header .header-wrap {
		transform: unset;
	}

/* Mobile Menu Button
-------------------------------------------------------------- */
	.mobile-button {
		display:none;
		position:absolute;
		width:26px;
		height:26px;
		float:right;
		top:50%;
		left: 15px;
		background-color:transparent;
		cursor:pointer;
		-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-ms-transition:all 0.3s ease;
		-o-transition:all 0.3s ease;
		transition:all 0.3s ease;
		-webkit-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		transform:translateY(-50%);
	}

	.mobile-button:before,
	.mobile-button:after,
	.mobile-button span {
		background-color:#fff;
		-webkit-transition:all ease 0.3s;
		-moz-transition:all ease 0.3s;
		transition:all ease 0.3s;
	}

	.mobile-button:before,
	.mobile-button:after {
		content:'';
		position:absolute;
		top:0;
		height:3px;
		width:100%;
		left:0;
		top:50%;
		-webkit-transform-origin:50% 50%;
		-ms-transform-origin:50% 50%;
		transform-origin:50% 50%;
	}

	.mobile-button span {
		position:absolute;
		width:100%;
		height:3px;
		left:0;
		top:50%;
		overflow:hidden;
		text-indent:200%;
	}

	.mobile-button:before {
		-webkit-transform:translate3d(0,-7px,0);
		-moz-transform:translate3d(0,-7px,0);
		transform:translate3d(0,-7px,0);
	}

	.mobile-button:after {
		-webkit-transform:translate3d(0,7px,0);
		-moz-transform:translate3d(0,7px,0);
		transform:translate3d(0,7px,0);
	}

	.mobile-button.active span {
		opacity:0;
	}

	.mobile-button.active:before {
		-webkit-transform:rotate3d(0,0,1,45deg);
		-moz-transform:rotate3d(0,0,1,45deg);
		transform:rotate3d(0,0,1,45deg);
	}

	.mobile-button.active:after {
		-webkit-transform:rotate3d(0,0,1,-45deg);
		-moz-transform:rotate3d(0,0,1,-45deg);
		transform:rotate3d(0,0,1,-45deg);
	}

	.btn-submenu {
		position: absolute;
		right: 0;
		top: 0;
		font: 20px/50px 'FontAwesome';
		text-align: center;
		cursor: pointer;
		width: 70px;
		height: 44px;
	}

	.btn-submenu:before {
		content: "\f107";
		color: #fff;
	}

	.btn-submenu.active:before {
		content: "\f106"
	}

	.mobile-button.v2:before,
	.mobile-button.v2:after,
	.mobile-button.v2 span {
		background: #137bc0;
	}

	.mobile-button.v2 {
		right: 21px;
		left: unset;
		z-index: 1;
	}

/* Mobile navigation
-------------------------------------------------------------- */
	#mainnav-mobi {
		display: block;
		margin: 0 auto;
		width: 100%;
		position: absolute;
		background-color: #403b3b;
		z-index: 1000;
		top: 48px;
		left: 0;
	}

	#mainnav-mobi ul {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#mainnav-mobi ul li {
		margin:0;
		position: relative;
		text-align: left;
		border-top: 1px solid #333333;
		cursor: pointer
	}

	#mainnav-mobi ul > li > a,
	#mainnav-mobi ul.list-item > li > a,
	#mainnav-mobi ul.submenu-mega li > a  {
		text-decoration: none;
		height: 50px;
		line-height: 45px;
		padding: 0 15px;
		color: #fff;
		font-weight: 500;
	}

	#mainnav-mobi ul.sub-menu {
		top: 100%;
		left: 0;
		z-index: 2000;
		position: relative;
		background-color: #333333;
	}

	#mainnav-mobi > ul > li > ul > li,
	#mainnav-mobi > ul > li > ul > li > ul > li {
		position: relative;
		border-top: 1px solid #333333;
	}

	#mainnav-mobi > ul > li > ul > li a {
		padding-left: 30px !important;
	}

	#mainnav-mobi > ul > li > ul > li > ul > li a {
		padding-left: 50px !important;
	}

	#mainnav-mobi ul.sub-menu > li > a {
		display: block;
		text-decoration: none;
		border-top-color: rgba(255,255,255,.1);
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	#mainnav-mobi > ul > li > ul > li:first-child a {
		border-top: none;
	}

	#mainnav-mobi ul.sub-menu > li > a:hover,
	#mainnav-mobi > ul > li > ul > li.active > a,
	#mainnav-mobi ul > li.active > a {
		color: #137bc0;
	}

	#mainnav-mobi .submenu-mega {
		display: none;
	}

	#mainnav-mobi .submenu-mega .container {
		max-width: unset !important;
		padding: 0 !important;
	}

	#mainnav-mobi .one-of-four {
		width: 100%;
	}


/* Page Title
-------------------------------------------------------------- */
	/* Page Title v1 */
	.wrap-page-title {
		position: relative;
	}

	.page-title.v1 {
		position: relative;
	}

	.page-title-heading.v1,
	.breakcrums.v1 {
		width: 50%;
		float: left;
	}

	.breakcrums.v1 {
		margin-top: 17px;
	}

	.page-title.v1 .page-title-heading a {
		color: #fff;
		font-weight: 600;
	}

	.breakcrums ul li {
		display: inline;
	}

	.breakcrums ul li a {
		font-size: 18px;
		color: #fefefe;
		font-weight: 400;
	}

	.breakcrums ul li:not(:last-child) {
		margin-right: 10px;
	}

	.breakcrums ul li:not(:last-child):after {
		content: "5";
		font-family: "ElegantIcons";
		margin-left: 13px;
		color: #fefefe;
	}

	/* Page Title v2 */
	.page-title.v2 {
		position: relative;
		padding: 126px 0 184px;
	}

	.v2.page-title:after {
		font-family: "Ionicons";
		content: "\f110";
		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		font-size: 55px;
		background: #137bc0;
		padding: 38px 27px 31px;
		border-radius: 50%;
		color: #fff;
		width: 100px;
		height: 100px;
	}

	.page-title.v2 .page-title-heading a,
	.page-title.v3 .page-title-heading a {
		font-size: 50px;
		color: #fff;
		font-weight: 600;
	}

	/* Page Title v3 */
	.page-title.v3  {
		position: relative;
		padding: 174px 0 130px;
	}

	.page-title.v3 .breakcrums {
		margin-bottom: 5px;
	}

/* Sidebar
-------------------------------------------------------------- */
	/* Widget Search */
	.widget-search .search-form:before {
		content: "";
		width: 294px;
		height: 56px;
		right: 0;
		top: 5px;
		border: 1px solid #f6f6f6;
		position: absolute;
	}

	.widget-search .search-form {
		position: relative;
		padding-right: 5px;
	}

	.widget-search button.search-submit {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 55px;
		text-align: center;
		color: transparent;
		background: transparent;
	}

	.widget-search button.search-submit:before {
		content: "\55";
		font-family: "ElegantIcons";
		font-size: 18px;
		position: absolute;
		width: 50px;
		height: 55px;
		padding: 19px 29px 14px 0;
		right: 0;
		top: 0;
		text-align: center;
		color: #221f1f;
		z-index: 1;
	}

	.widget-search button.search-submit:hover:before {
		color: #137bc0;
	}

	.widget-search .search-text {
		padding: 23px 0 21px 31px;
		border: none;
 	}

 	/* Widget Categories */
 	.widget.widget-categories.v3 {
 		padding-top: 0 !important;
 		border: 1px solid #e7e7e7;
 		padding-bottom: 12px;
 	}

 	.widget.widget-categories.v3 h5.widget-title {
 		width: 100%;
 		background: #f6f6f6;
 		padding: 0 0 0 30px;
 		line-height: 60px;
 		position: relative;
 		margin-bottom: 34px;
 		border-bottom: 1px solid #e7e7e7;
 	}

 	.widget.widget-categories h5.widget-title:after {
 		content: "\e012";
 		font-family: "ElegantIcons";
 		font-size: 18px;
 		line-height: 74px;
 		color: #c9c9c9;
 		position: absolute;
 		top: 50%;
 		transform: translateY(-50%);
 		right: 30px;
 	}

 	.widget-categories.v3 ul li {
 		margin: 0 30px 26px 31px;
 	}

 	.widget-categories.v3 ul li a {
 		font-weight: 700;
 		font-size: 16px;
 		color: #343434;
 		font-family: "Rajdhani";
 	}

 	.widget-categories.v3 ul li a:after {
 		color: #d2d2d2 ;
 		font-size: 18px;
 		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
 	}

 	.widget-categories.v3 ul li:hover a:after {
 		color: #343434 ;
 	}

 	.widget-categories.v1 {
 		margin-bottom: 120px;
 	}

 	.widget-categories.v1 li a {
		display: block;
		border: 1px solid #e7e7e7;
		color: #b0b0b0;
		font-size: 18px;
		font-weight: 700;
		position: relative;
		line-height: 60px;
 		margin-bottom: 15px;
 		padding-left: 30px;
 	}

 	.widget-categories.v1 li a:hover {
 		color: #363636;
 	}

 	.widget-categories.v1 li a:after {
 		content: "\3d";
 		font-family: "Eleganticons";
 		font-size: 18px;
 		position: absolute;
 		right: 28px;
 		top: 50%;
 		transform: translateY(-50%);
 	}

 	/* widget Recent News */
 	.widget.widget-recent-news {
 		border: 1px solid #e7e7e7;
 		margin-bottom: 50px;
 	}

 	.widget.widget-recent-news h5.widget-title {
 		width: 100%;
 		background: #f6f6f6;
 		padding: 0 0 0 30px;
 		line-height: 60px;
 		position: relative;
 		margin-bottom: 40px;
 		border-bottom: 1px solid #e7e7e7;
 	}

 	.widget.widget-recent-news h5.widget-title:after {
		content: "\68";
		font-family: "ElegantIcons";
 		font-size: 18px;
 		line-height: 74px;
 		color: #c9c9c9;
 		position: absolute;
 		top: 50%;
 		transform: translateY(-50%);
 		right: 30px;
 	}

	.widget-recent-news .list-recent-news {
		padding: 0 30px 0 32px;
	}

	.widget-recent-news li {
		margin-bottom: 30px;
		border-bottom: 1px solid #e7e7e7;
		padding-bottom: 27px;
	}

	.widget-recent-news li:last-child {
		border: none;
		margin-bottom: 16px;
	}

	.widget-recent-news .img {
		float: left;
		position: relative;
	}

	.widget-recent-news .content {
		padding-left: 91px;
	}

	.widget-recent-news .content h6.heading a {
		color: #343434;
	}

	.widget-recent-news .content p a {
		color: #808080;
		font-family: "Open Sans";
		font-weight: 400;
	}

	.widget-recent-news .content p a:before {
		content: "\e025";
		color: #adadad;
		font-family: "ElegantIcons";
		padding-right: 10px;
	}

	/* Widget Tags */
 	.widget.widget-tags {
 		border: 1px solid #e7e7e7;
 	}

 	.widget.widget-tags h5.widget-title {
 		width: 100%;
 		background: #f6f6f6;
 		padding: 0 0 0 30px;
 		line-height: 60px;
 		position: relative;
 		margin-bottom: 40px;
 		border-bottom: 1px solid #e7e7e7;
 	}

 	.widget.widget-tags h5.widget-title:after {
		content: "\e018";
		font-family: "ElegantIcons";
 		font-size: 18px;
 		line-height: 74px;
 		color: #c9c9c9;
 		position: absolute;
 		top: 50%;
 		transform: translateY(-50%);
 		right: 30px;
 	}

 	.widget.widget-tags ul {
 		padding: 0 0 30px 30px;
 	}

 	.widget.widget-tags ul li {
 		display: inline-block;
 		margin: 0  10px 15px 0;
 		border: 1px solid #e7e7e7;
 	}

 	.widget.widget-tags.v2 ul li {
 		border-radius: 25px;
 	}

 	.widget.widget-tags ul li a {
 		display: block;
 		padding: 4px 17px 4px 16px;
 		font-family: "Open Sans";
 		font-weight: 400;
 		letter-spacing: 0.1px;
 	}

	/* Widget Filter */
 	.widget.widget-filter {
		border: 1px solid #e7e7e7;
		margin-bottom: 50px;
 	}

 	.widget.widget-filter h5.widget-title {
		width: 100%;
 		background: #f6f6f6;
 		padding: 0 0 0 30px;
 		line-height: 60px;
 		position: relative;
 		margin-bottom: 50px;
 		border-bottom: 1px solid #e7e7e7;
 	}

 	.widget.widget-filter h5.widget-title:after {
 		content: "\e0ed";
 		font-family: "ElegantIcons";
 		font-size: 18px;
 		line-height: 74px;
 		color: #c9c9c9;
 		position: absolute;
 		right: 30px;
 		top: 50%;
 		transform: translateY(-50%);
 	}

	/* Widget Deal */
 	.widget-deal {
 		background: #137bc0;
 		position: relative;
 		padding: 10px;
 		text-align: center;
 		padding-top: 266px;
 		margin-bottom: 60px;
 	}

 	.widget-deal .title-heading {
 		font-weight: 600;
 		font-size: 50px;
 		transform: rotate(90deg);
 		opacity: 0.1;
 		position: absolute;
 		right: -77px;
 		top: 44px;
 		letter-spacing: 0.03em;
 	}

 	.widget-deal .img {
 		position: absolute;
 		left: -23px;
 		top: -70px;
 		width: 100%;
 	}

 	.widget-deal .textbox {
		background: #fff;
		padding: 25px 20px 23px;
 	}

 	.widget-deal .textbox .title {
 		margin-bottom: 10px;
 	}

 	.widget-deal .textbox p {
 		margin-bottom: 23px;
 	}

	/* Widget Top Products */
 	.widget.widget-top-products {
		border: 1px solid #e7e7e7;
		margin-bottom: 50px;
 	}

 	.widget.widget-top-products h5.widget-title {
		width: 100%;
 		background: #f6f6f6;
 		padding: 0 0 0 30px;
 		line-height: 60px;
 		position: relative;
 		margin-bottom: 35px;
 		border-bottom: 1px solid #e7e7e7;
 	}

	.widget.widget-top-products h5.widget-title:after {
		content: "\e0ed";
		font-family:  "ElegantIcons";
		font-size: 18px;
		line-height: 74px;
		color: #c9c9c9;
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
 	}

	.widget-top-products li {
		padding-bottom: 34px;
		margin-bottom: 36px;
		border-bottom: 1px solid #eaeaea;
	}

	.widget-top-products li:last-child {
		border-bottom: unset;
		padding-bottom: unset;
	}

	.widget-top-products .list-products-top {
		padding: 0  29px;
	}

	.widget-top-products .img {
		float: left;
		position: relative;
	}

	.widget-top-products li .img .overlay a {
		font-size: 26px;
		line-height: 24px;
		color: #e7e7e7;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%,-50%);
		z-index: 1;
		opacity: 0;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.widget-top-products li:hover .img .overlay a {
		opacity: 1;
	}

	.widget-top-products .content {
		padding-left: 93px;
	}

	.widget-top-products .content .heading {
		margin-bottom: 5px;
	}

	.widget-top-products .content .list-star {
		margin-bottom: 7px;
	}

	.widget-top-products .content .list-star i {
		color: #eab81e;
		margin: -1px;
	}

	.widget-top-products .content .price {
		font-family: "Rajdhani";
		font-weight: 700;
		font-size: 18px;
	}

/* Pagination
-------------------------------------------------------------- */
	.flat-paginations {
		width: 100%;
		text-align: center;
	}

	.flat-paginations ul.paginations li {
		display: inline-block;
	}

	.flat-paginations ul.paginations li a {
		font-size: 16px;
		font-weight: 700;
		padding: 15px 20px 9px;
		border: 1px solid #dedede;
		display: block;
		margin: 0 7.5px;
	}

	.flat-paginations ul.paginations li a:hover,
	.flat-paginations ul.paginations li.active a {
		background: #e8b006;
		color: #fff;
	}
	/* V1 */
	.flat-paginations.v1 ul.paginations li.prev {
		float: left;
	}

	.flat-paginations.v1 ul.paginations li.prev a {
		padding: 15px 30px 9px;
		margin: unset;
		letter-spacing: 0.1px;
	}

	.flat-paginations.v1 ul.paginations li.next a {
		padding: 15px 43px 9px;
		margin: unset;
		letter-spacing: 0.1px;
	}

	.flat-paginations.v1 ul.paginations li.next {
		float: right;
	}

	/* V2 */
	.flat-paginations.v2 ul.paginations li a {
		color: #d0d0d0;
		border: 1px solid #d0d0d0;
		border-radius: 50%;
		padding: 14px 0;
		width: 50px;
		height: 50px;
		margin: 0 3px;
	}

	.flat-paginations.v2 ul.paginations li a:hover {
		color: #fff;
	}

	/* V3 */
	.flat-paginations.v3  li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
		display: block;
		padding: unset !important;
		text-align: center;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		border-radius: 4px;
		color: #343434 !important;
	}

	.flat-paginations.v3  li.active a,
	.flat-paginations.v3  li a:hover  {
		background: #e8b006;
		color: #fff !important;
	}

	/* V4 */
	.flat-paginations.v4 ul.paginations li a {
		color: #bcbbbb;
	}

	.flat-paginations.v4 ul.paginations li a:hover,
	.flat-paginations.v4 ul.paginations li.active a {
		background: unset;
		color: #363636;
	}

	.flat-paginations.v4 li.active .btn-defect:after {
		opacity: 1;
		right: 2px;
	}

	/* V5 */
	.flat-paginations.v5 ul.paginations li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
		border: transparent;
		color: #bcbbbb;
		padding: unset;
	}

	.flat-paginations.v5 ul.paginations li a:hover,
	.flat-paginations.v5 ul.paginations li.active a {
		border:1px solid #dedede;
		background: unset;
		color: #363636;
	}

	.flat-paginations.v5 li.active .btn-defect:after {
		opacity: 1;
		right: 2px;
	}

	/* V6 */
	.flat-paginations.v6 ul.paginations li a {
		color: #363636;
		width: 50px;
		height: 50px;
		line-height: 50px;
		padding: unset;
		border: unset;
	}

	.flat-paginations.v6 ul.paginations li a:hover,
	.flat-paginations.v6 ul.paginations li.active a {
		color: #fff;
	}

	.flat-paginations.v6  {
		position: relative;
	}

	.flat-paginations.v6:before,
	.flat-paginations.v6:after {
		content: "";
		font-family: "Eleganticons";
		font-size: 18px;
		opacity: 0.4;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.flat-paginations.v6:before {
		content: "\34";
		left: 0;
	}

	.flat-paginations.v6:after {
		content: "\35";
		right: 0;
	}

	.flat-paginations.v6 ul.paginations:before,
	.flat-paginations.v6 ul.paginations:after {
		content: "";
		width: 36%;
		height: 1px;
		background: #e4e4e4;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.flat-paginations.v6 ul.paginations:before {
		left: 30px;
	}

	.flat-paginations.v6 ul.paginations:after {
		right: 30px;
	}

/* Footer
-------------------------------------------------------------- */
	#footer {
		background: #242424;
	}

	#footer.style3 {
		background: unset;
	}

	.flat-widget-ft {
		margin: 0 -15px;
	}

	/* Style2 */
	#footer.style2 .widget {
		float: left;
		width: 25%;
		padding: 0 15px;
	}

	/* Widget Footer */
	.widget h4.widget-title {
		color: #fff;
		margin-bottom: 37px;
	}
	#footer.style2 .widget.widget-info,
	#footer.style2 .widget.widget-links,
	#footer.style2 .widget.widget-last-news {
		padding-top: 37px !important;
	}

	/* Widget About */
	#footer .widget-about.widget {
		padding-right: 30px;
	}

	.widget-about #logo-ft {
		margin-bottom: 45px;
	}

	.widget-about p {
		color: #808080;
		margin-bottom: 21px;
	}

	.widget-about h6 > a {
		text-decoration: underline;
		color: #fff;
		font-weight: 700;
	}

	#footer.style3 .widget-about {
		background: url("../images/home3/bg-automov.png") center center no-repeat;
		background-size: cover;
		position: relative;
		padding: 0 9% 0 38.8%;
		height: 100%;
	}

	#footer.style3 .widget-about .about-wrap {
		position: relative;
	}

	#footer.style3 .widget-about p {
		color: #fff;
		margin-bottom: 27px;
	}

	#footer.style3 .widget-about h6 {
		margin-top: 42px;
	}

	/* Widget Links */
	.widget-links ul li a {
		display: block;
		position: relative;
		color: #808080;
		margin-bottom: 16px;
		font-family: "Open Sans";
	}

	.widget-links ul li a:after {
		content: "5";
		font-family: "ElegantIcons";
		position: absolute;
		right: 0;
	}

	/* Widget Info */
	#footer.style2 .widget.widget-info.v2 {
		float: unset;
		width: unset;
		padding: unset;
	}

	.widget.widget-info h4.widget-title {
		margin-bottom: 39px;
	}

	.widget-info .flat-iconbox.style2 {
		padding-bottom: 73px;
		border-bottom: 1px solid #343434;
	}

	.widget-info .flat-iconbox.style2.v2 {
		padding-bottom: 90px;
	}

	#footer.style1 .widget.widget-info h4.widget-title {
		margin-bottom: 44px;
	}

	/* Widget Latest News */
	.widget.widget-last-news h4.widget-title {
		margin-bottom: 44px;
	}

	.widget-last-news li {
		margin-bottom: 30px;
	}

	.widget-last-news .img {
		float: left;
		position: relative;
	}

	.widget-last-news .content {
		padding-left: 89px;
	}

	.widget-last-news .content h6.heading a {
		color: #808080;
	}

	.widget-last-news .content p a {
		color: #808080;
		font-family: "Open Sans";
		font-weight: 400;
	}

	/* Bottom */
	#footer .bottom {
		position: relative;
	}

	.bottom.style1 .flat-socails {
		width: 30%;
		float: left;
		position: absolute !important;
		top: 50%;
		transform: translateY(-50%);
	}

	.bottom.style1  .flat-copy-right {
		width: 70%;
		float: right;
	}

	/* Style2 */
	.bottom.style2 .copy-right,
	.bottom.style2 .flat-socails {
		width: 50%;
		float: left;
	}

	.bottom.style2 .copy-right {
		padding:  38px 0;
	}

	.bottom.style2 .flat-socails {
		padding: 25px 0;
	}

	/* Style3 */
	#footer .bottom.style3 {
		border-top: 1px solid #343434;
		padding-top: 55px;
	}

	#footer .bottom.style3 .flat-socails:before,
	#footer .bottom.style3 .flat-socails:after {
		content: unset;
	}

	.bottom.style3 .flat-copy-right,
	.bottom.style3 .flat-socails {
		width: 50%;
		float: left;
	}

	#footer .bottom.style3 .flat-copy-right:after {
		content: unset;
	}

/* Grid
-------------------------------------------------------------- */
	.sidebar-right {
		width: 25.64%;
		float: right;
	}

	.main-blog-grid-with-sidebar .container {
		padding: 0;
	}

	.sidebar-left {
		width:  25.64%;
		float: left;
	}

	.content-page-wrap {
		width: 74.36%;
		float: right;
	}

/* Shop Page
-------------------------------------------------------------- */
	.main-shop-detail,
	.main-shop-detail-sidebar {
		padding: 130px 0 102px;
	}

/* Error Page
-------------------------------------------------------------- */
	.content-wrap.error-page {
		background: url("../images/error/bg-error.png") center bottom no-repeat;
		padding-bottom: 180px;
	}

	.content-wrap.error-page img {
		margin-bottom: 80px;
	}

	.content-wrap.error-page h2 {
		margin-bottom: 24px;
	}

	.content-wrap.error-page p {
		font-size: 24px;
		margin-bottom: 36px;
	}

/* Gallery Page
-------------------------------------------------------------- */
	.our-gallery-page .flat-imgbox {
		margin-bottom: 77px;
	}

/* Team Page
-------------------------------------------------------------- */
	.our-team-page.flat-team .imgbox {
		background: #fff;
	}

	.our-team-page.flat-auto-motive {
		background: url("../images/our-team/bg-automov.png") center center no-repeat;
		background-size: cover;
		position: relative;
		padding: unset;
	}

	.our-team-page .auto-motive-wrap {
		position: relative;
	}

	.our-team-page.flat-auto-motive .overlay {
		top: 0;
		left: 0;
		background: #137bc0;
		opacity: 0.9;
	}

	.our-team-page.flat-auto-motive .title > a,
	.our-team-page.flat-auto-motive p {
		color: #fff;
	}

/* Contact Page
-------------------------------------------------------------- */
	/* contact V1 */
	.contact-v1-page.flat-contact-us {
		width: 44.444%;
		float: left;
		position: relative;
		padding: 0 80px 0 75px;
	}


	.contact-v1-page.flat-form-contact {
		width:55.556%;
		float: right;
		padding: 0 0 0 80px;
		border-left: 1px solid #f3f3f3;
	}

	.flat-contact-us.contact-v1-page .flat-title h2 {
		opacity: 0.1;
		position: absolute;
		left: -110px;
		top: 45%;
		letter-spacing: 0.2em;
		transform: rotate(-90deg);
	}

/* Book Calendar Page
-------------------------------------------------------------- */
	.book-calendar-page input,
	.book-calendar-page textarea {
		border-radius: 4px;
	}

	/* Vehicle Year Wrap */
	.vehicle-year-wrap {
		padding: 44px 15px 76px 0;
	}

	.vehicle-year-wrap .flat-title h5 {
		margin-bottom: 47px;
	}

	.vehicle-year-wrap .content {
		position: relative;
	}

	.vehicle-year-wrap #slider-range-year {
		margin-right: 115px;
	}

	.vehicle-year-wrap .ui-widget.ui-widget-content {
		border: unset;
	}

	.vehicle-year-wrap .ui-slider-range {
		background: #137bc0;
	}

	.vehicle-year-wrap #amount {
		width: 80px;
		height: 50px;
		border-radius: 4px;
		background: #fff;
		text-align: center;
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
		padding: unset;
	}
	.vehicle-year-wrap .ui-state-default {
		background: #137bc0;
		border: 2px solid #fff;
	}

	.vehicle-year-wrap .year-hover {
		opacity: 0;
		width: 54px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 4px;
		border: 1px solid #dedede;
		bottom: -45px;
		background: #fff;
		color: #a4a4a4;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.vehicle-year-wrap .year-hover:before {
		content: "";
		width: 10px;
		height: 10px;
		border-top: 1px solid #dedede;
		border-right: 1px solid #dedede;
		background: #fff;
		transform:rotate(-45deg);
		position: absolute;
		top: -5px;
		left: 50%;
		margin-left: -5px;
	}

	.vehicle-year-wrap .ui-state-default:hover .year-hover {
		opacity: 1;
	}

	/* Vehicle Make Wrap */
	.vehicle-make-wrap {
		padding: 44px 15px 50px 15px;
	}

	.vehicle-make-wrap .wrap-input {
		position: relative;
	}

	.vehicle-make-wrap .wrap-input:after {
		width: 50px;
		height: 50px;
		content: "\33";
		font-family: "Eleganticons";
		font-size: 18px;
		color: #a4a4a4;
		text-align: center;
		line-height: 50px;
		border-left: 1px solid #dedede;
		position: absolute;
		top: 0;
		right: 0;
	}

	/* Vehicle Mileage Wrap */
	.vehicle-mileage-wrap {
		padding: 44px 0 50px 15px ;
	}

	/* Preffered Time Wrap */
	.preffered-time-wrap .wrap-checked {
		display: inline-block;
		height: 50px;
		border: 1px solid #dedede;
		border-radius: 4px;
		position: relative;
		font-size: 14px;
		margin-bottom: 15px;
	}

	.wrap-checked input[type='checkbox'] {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		opacity: 0;
	}

	input[type='checkbox']:checked + label {
		background: #137bc0;
		color: #fff;
	}

	.wrap-checked  label:after {
		content: "\4e";
	    font-family: "Eleganticons";
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    top: 10px;
	    left: 10px;
	    position: absolute;
	    opacity: 0;
	    z-index: 999;
	    color: #333;
	    text-align: center;
	}


	input[type='checkbox']:checked + label:after {
		opacity: 1;
	}

	input[type='checkbox']:checked + label:before {
		background: #fff;
	}

	.wrap-checked label:before {
		content: "";
		width: 30px;
		height: 30px;
		background: #ebebeb;
		border-radius: 4px;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		position: absolute;
	}

	.wrap-checked label {
		color:  #a4a4a4;
		line-height: 50px;
		padding: 0 15px 0 57px;
		border-radius: 4px;
		position: relative;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	/* Appointment Date Wrap */
	.appointment-date-wrap {
		margin-bottom: 45px;
	}

	/* Preffered Time Wrap */
	.preffered-time-wrap {
		margin-bottom: 45px;
	}

	/* Contact Details Wrap */
	.contact-details-wrap .flat-title h5 {
		margin-bottom: 43px;
	}
	.contact-details-wrap .wrap-input,
	.contact-details-wrap .wrap-textarea,
	.contact-details-wrap .wrap-btn {
		margin-bottom: 20px;
	}

	.contact-details-wrap textarea {
		height: 225px;
	}
	.contact-details-wrap .wrap-input,
	.contact-details-wrap .wrap-textarea {
		position: relative;
	}

	.contact-details-wrap .wrap-input:after,
	.contact-details-wrap .wrap-textarea:after {
		content: "";
		font-family: "Eleganticons";
		font-size: 18px;
		color: #a4a4a4;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		border-left: 1px solid #dedede;
	}

	.contact-details-wrap .wrap-textarea:after {
		content: "\6a";
		line-height: 225px;
		height: 225px;
		right: 0px;
	}

	.contact-details-wrap .name.wrap-input:after {
		content: "\e0e0";
		right: 10px;
	}

	.contact-details-wrap .phone.wrap-input:after {
		content: "\e00c";
		right: 0px;
	}


	.contact-details-wrap .email.wrap-input:after {
		content: "\e010";
		right: 10px;
	}

	.contact-details-wrap .subject.wrap-input:after {
		content: "\7b";
		right:  0px;
	}

/* Projects Page
-------------------------------------------------------------- */
	/* Project Single */
	.project-single-page .flat-brief-description .flat-title.v4 h5 {
		margin-bottom: 53px;
	}

	.project-single-page .flat-brief-description p {
		margin-bottom: 25px;
	}

/* Services Page
-------------------------------------------------------------- */
	/* Our Services Fullwidth */
	.service-fullwidth-page .flat-about .title {
		color: #137bc0;
		margin-bottom: 17px;
	}

	.service-fullwidth-page .flat-about ul.list {
		margin-right: unset;
	}

	.service-fullwidth-page .style3.imgbox {
		border: 1px solid transparent;
	}

	.service-fullwidth-page .style3.imgbox .imgbox-content {
		background: #fff;
		border-bottom: unset;
	}

	.service-fullwidth-page .flat-about .list {
		padding-left: 13px;
	}

	.service-fullwidth-page .flat-about .list:first-child {
		margin-right: 42px;
	}

	.service-fullwidth-page .flat-about {
		margin-bottom: 33px;
	}

	/* Our Services */
	.flat-imgbox.all-services {
		margin: 0 -12.5px;
	}

	.imgbox.all-services {
		padding: 0 12.5px;
		margin-bottom: 50px;
	}

	.imgbox.all-services .imgbox-img {
		margin-bottom: 30px;
	}

	.imgbox.all-services h3 {
		margin-bottom: 14px;
	}

	.imgbox.all-services p {
		margin-bottom: 28px;
		padding-right: 10px;
	}

/* Slider
-------------------------------------------------------------- */
	/* Style2 */
	.flat-slider.style2 .tp-thumbs {
		left: 50% !important;
		transform: translate(-50%,-25%) !important;
	}

	.flat-slider.style2 .tp-thumb-mask {
		overflow: visible !important;
	}

	.flat-slider.style2 .tp-thumb {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.flat-slider.style2 .tp-thumb.selected {
		transform: scale(1.3) !important;
		z-index: 99;
	}

	.hades .tp-thumb-img-wrap {
		background: #f6f6f6;
		padding: 10px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.flat-slider.style2  .tp-thumb.selected:before {
		content: "";
		position: absolute;
		transform: translateX(-50%);
	}

	.flat-slider.style2  .tp-thumb:nth-child(2).selected:before {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 16px solid #fff;
		top: -15px;
		left: 50%;
	}

	.flat-slider.style2  .tp-thumb:first-child.selected:before {
		border-left: 28px solid transparent;
		border-right: 0px solid transparent;
		border-bottom: 19px solid #fff;
		top: -8px;
		left: 64%;
	}

	.flat-slider.style2  .tp-thumb:last-child.selected:before {
		border-left: 0px solid transparent;
		border-right: 28px solid transparent;
		border-bottom: 19px solid #fff;
		top: -8px;
		right: 54%;
	}
	/* Style3 */
	.flat-slider.style3 .tp-tabs {
		width: 100% !important;
		bottom: 0 !important;
		top: unset !important;
		left: 50% !important;
		transform: translateX(-50%) !important;
		background: #f9f9f9 !important;
		max-width: 100% !important;
	}

	.flat-slider.style3 .tp-tab-mask {
		margin: 0 auto;
	}

	.flat-slider.style3 .tp-tab.selected {
		position: relative;
	}

	.flat-slider.style3 .tp-tab-mask {
		overflow: unset !important;
	}

	.flat-slider.style3 .tp-tab {
		padding: 50px 0 50px 10px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.flat-slider.style3 .tp-tab:before {
		content: "";
		border-left: 17px solid transparent;
		border-right: 17px solid transparent;
		border-bottom: 20px solid #eee;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.flat-slider.style3 .selected.tp-tab:before {
		opacity: 1;
		top: -20px;
	}

	.flat-slider.style3 a.link-view {
		position: relative;
		padding-bottom: 10px;
		font-weight: 600;
		color: #c6c6c6;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.flat-slider.style3 a.link-view:hover {
		color: #343434;
	}

	.flat-slider.style3 .tp-tab a.link-view:before {
		content: "";
		height: 3px;
		width: 28px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		position: absolute;
		left: 0;
		bottom: 0;
		background: #e8b006;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.flat-slider.style3 .tp-tab.selected a.link-view:before,
	.flat-slider.style3 .tp-tab:hover a.link-view:before {
		width: 100%;
	}

	/* Style5 */
	.flat-slider.style5 {
		position: relative;
	}

	.flat-slider.style5 .custom.tp-bullets:before {
		content: unset;
	}

	.flat-slider.style5 .tp-bullets {
		position: absolute;
		right: 5px !important;
		top: 50% !important;
		transform: translateY(-50%);
		left: unset !important;

	}
	.flat-slider.style5 .tp-bullets .tp-bullet {
		display: block;
		width: 12px;
		height: 12px;
		border-radius: 4px;
		position: unset;
		margin: 5px 0;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.flat-slider.style5 .tp-bullets .tp-bullet.selected {
		background: #fff;
	}

/* Preloader
-------------------------------------------------------------- */
	.preloader{
		position:fixed;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		z-index:999999;
		background-color:#ffffff;
		background-position:center center;
		background-repeat:no-repeat;

	}

	.load {
		position: absolute;
		width: 100px;
		height: 80px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.gear {
		position: absolute;
		z-index: -10;
		width: 40px;
		height: 40px;
		animation: spin 5s infinite;
	}

	.two {
		left: 40px;
		width: 80px;
		height: 80px;
		animation: spin-reverse 5s infinite;
	}

	.three {
		top: 45px;
		left: -10px;
		width: 60px;
		height: 60px;
	}

	@keyframes spin {
		50% {
			transform: rotate(360deg);
		}
	}

	@keyframes spin-reverse {
		50% {
			transform: rotate(-360deg);
		}
	}

	.lil-circle {
		position: absolute;
		border-radius: 50%;
		box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
		width: 100px;
		height: 100px;
		opacity: .65;
	}

	.blur-circle {
		position: absolute;
		top: -19px;
		left: -19px;
	}





	 #loading .dot {
            position:fixed;
            top: 50%;
            left: 50%;
            width: 128px;
            height: 128px;
            margin: -64px 0 0 -64px;
            border-radius: 50%;

            border: 3px solid transparent;
            border-top-color: #288cfb;

            display: inline-block;
            opacity: 1;
            animation: lp 2s linear infinite;
        }
        #loading .dot:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 4px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-bottom-color: #288cfb;

            animation: lp 1.5s linear infinite;
        }
        @keyframes lp {
            0%   {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

/* Go Top
-------------------------------------------------------------- */
	.gotop{
		position:fixed;
		right:0px;
		bottom: -100px;
		z-index:10;
		cursor:pointer;
		transform: rotate(-90deg);
		transition:all 0.4s ease;
		-webkit-transition:all 0.4s ease;
		-ms-transition:all 0.4s ease
	}

	.gotop.goto{
		bottom: 20px;
		transform: rotate(-90deg);
	}

/* Switcher
-------------------------------------------------------------- */
	.switcher-container {
	   position: fixed;
	   left: -220px;
	   top: 139px;
	   width: 220px;
	   background-color: #000;
	   z-index: 99999999;
	}

	.switcher-container h2 {
		color: #fff;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 0;
	    text-transform: uppercase;
		height: 45px;
		line-height: 45px;
		padding-left: 45px;
	    padding-right: 0;
		margin: 0;
	}

	.switcher-container h2 a {
	   background-color: #000;
	   display: block;
	   position: absolute;
	   right: -45px;
	   top: 0;
	   width: 45px;
	   height: 45px;
	   line-height: 45px;
	   text-align: center;
	   outline: 0;
	   color: #fff;
	   -webkit-transition: all 0.3s ease-in-out;
	       -moz-transition: all 0.3s ease-in-out;
	        -ms-transition: all 0.3s ease-in-out;
	         -o-transition: all 0.3s ease-in-out;
	            transition: all 0.3s ease-in-out;
	}

	.switcher-container h2 a.active {
		right: 0;
	}

	.switcher-container h2 a.active:after {
		position: absolute;
		left: 21px;
		top: 0;
		content: "\f104";
		font-family: "FontAwesome";
		color: #1490d7;
		font-size: 22px;
	}

	.switcher-container h2 a.active i {
		display: none;
	}

	.switcher-container h2 a:hover,
	.switcher-container h2 a:focus {
	   text-decoration: none;
	}

	.switcher-container h2 i {
	   	margin-top: 10px;
	   	font-size: 25px;
	   	color: #137bc0;
	    -webkit-animation: fa-spin 2s infinite linear;
	            animation: fa-spin 2s infinite linear;
	    -webkit-transition: all 0.3s ease-in-out;
	       -moz-transition: all 0.3s ease-in-out;
	        -ms-transition: all 0.3s ease-in-out;
	         -o-transition: all 0.3s ease-in-out;
	            transition: all 0.3s ease-in-out;
	}

	.switcher-container h2 i:hover {
		color: #fff;
	}

	.switcher-container h3 {
	   font-size: 12px;
	   font-weight: 700;
	   color: #fff;
	   margin: 0;
	   line-height: 22px;
	   margin-bottom: 10px;
	}

	.switcher-container .selector-box {
	   color: #fff;
	   overflow: hidden;
	}

	.switcher-container .layout-switcher {
	   margin: 0 0 10px 0;
	   overflow: hidden;
	}

	.switcher-container .layout-switcher a.layout {
	   float: left;
	   display: block;
	   cursor: pointer;
	   text-align: center;
	   font-weight: 700;
	   padding: 10px 20px;
	   margin-left: 10px;
	}

	.switcher-container .layout-switcher a.layout:first-child {
	   margin-left: 0;
	}

	.switcher-container .layout-switcher a.layout:hover {
	   color: #fff;
	   cursor: pointer;
	}

	.switcher-container .color-box {
	   height: auto;
	   overflow: hidden;
	   margin-bottom: 6px;
	}

	.switcher-container .styleswitch {
	    margin-bottom: 10px;
	}

	.sw-odd {
		background-color: #272727;
		padding: 15px 0 10px 20px;
		-webkit-transition: all 0.3s;
		   -moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s;
	}

	.sw-even {
		background-color: #191919;
		padding: 21px 0 25px 20px;
		-webkit-transition: all 0.3s;
		   -moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			 -o-transition: all 0.3s;
				transition: all 0.3s;
	}

	.sw-even a {
		font-family: "Karla", sans-serif;
	    text-transform: uppercase;
		font-size: 12px;
		line-height: 40px;
		color: #fff;
		border: 1px solid #fff;
		padding: 10px 20px 10px 20px;
		margin-right: 10px;
		letter-spacing: 1.8px;
	}

	.sw-even a:hover {
		background-color: #137bc0;
		border: 1px solid #137bc0;
		color: #fff !important;
	}

	.sw-light {
		background-color: #fff;
		color: #000 !important;
	}

	.sw-odd a {
		font-size: 16px;
		color: #fff;
		width: 100%;
		display: inline-block;
		line-height: 17px;
		width: 100%;
		position: relative;
		padding-left: 47px;
	}

	.sw-odd .ws-colors a:before {
		background: none;
	}

	.sw-odd .ws-colors a {
		position: relative;
		width: auto;
		padding: 0;
		width: 30px;
		height: 30px;
		background-color: #333;
		display: inline-block;
		margin-right: 5px;
		overflow: hidden;
	}

	.sw-odd .ws-colors a.current:before {
		position: absolute;
	    left: 8px;
	    top: 6px;
		font-family: FontAwesome;
		content: "\f00c";
		color: #fff;
		z-index: 999;
		text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
	}

	.sw-odd .ws-colors #color1 {
		background-color: #137bc0;
	}

	.sw-odd .ws-colors #color2 {
		background-color: #e3b877;
	}

	.sw-odd .ws-colors #color3 {
		background-color: #ffde3b;
	}

	.sw-odd .ws-colors #color4 {
		background-color: #fc1452;
	}

	.sw-odd .ws-colors #color5 {
		background-color: #7eb54c;
	}

	.sw-even h3 {
		margin-bottom: 6px;
	}

	/* Pattern */
	.sw-pattern.pattern {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		   	filter: alpha(opacity=0);
		   opacity: 0;
		-webkit-transition: all 0.3s ease-in-out;
		   -moz-transition: all 0.3s ease-in-out;
		    -ms-transition: all 0.3s ease-in-out;
		     -o-transition: all 0.3s ease-in-out;
		        transition: all 0.3s ease-in-out;
		position: absolute;
		left: 0;
		top: 98%;
		background-color: #000000;
		width: 100%;
		z-index: -1;
		padding: 20px 0 30px 20px;
	}

	.sw-pattern.pattern a {
	    width: 40px;
	    height: 40px;
	    display: inline-block;
	    margin-right: 5px;
	    margin-bottom: 5px;
	    position: relative;
	}

	.sw-pattern.pattern a.current:before {
		position: absolute;
	    left: 12px;
	    top: 6px;
		font-family: FontAwesome;
		content: "\f00c";
		color: #fff;
		text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
	}

	/*switcher image*/
	.sw-odd .sw-image {
		 padding: 0 20px 15px 0;
	}

	.sw-odd .sw-image a{
		padding: 0;
		margin-bottom: 5px;
	}

	.sw-odd .sw-image .sw-buy {
		width: 100%;
	    border: none;
	    background: #6f9a37;
	    position: relative;
	    height: 35px;
	    line-height: 37px;
	    border-radius: 0;
	}

	.sw-odd .sw-image .sw-buy:before {
		content: "\f07a";
		font-family: "FontAwesome";
		color: #fff;
		position: absolute;
		left: 20%;
		top: -1px;
	}

	.sw-odd .sw-image .sw-buy:hover {
		background: #2e363a;
	}

	/* Pattern */
	.sw-pattern.pattern {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		   	filter: alpha(opacity=0);
		   opacity: 0;
		-webkit-transition: all 0.3s ease-in-out;
		   -moz-transition: all 0.3s ease-in-out;
		    -ms-transition: all 0.3s ease-in-out;
		     -o-transition: all 0.3s ease-in-out;
		        transition: all 0.3s ease-in-out;
		position: absolute;
		left: 0;
		top: 98%;
		background-color: #000000;
		width: 100%;
		z-index: -1;
		padding: 20px 0 30px 20px;
	}

	.sw-pattern.pattern a {
	    width: 35px;
	    height: 35px;
	    display: inline-block;
	    margin-right: 5px;
	    margin-bottom: 5px;
	    position: relative;
	}

	.sw-pattern.pattern a.current:before {
		position: absolute;
	    left: 12px;
	    top: 6px;
		font-family: FontAwesome;
		content: "\f00c";
		color: #fff;
		text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
	}

	/* Switcher Image*/
	.sw-odd .sw-image {
		 padding: 0 20px 15px 0;
	}

	.sw-odd .sw-image a{
		padding: 0;
		margin-bottom: 5px;
	}

	.sw-odd .sw-image .sw-buy {
		width: 100%;
	    border: none;
	    background: #137bc0;
	    position: relative;
	    height: 35px;
	    line-height: 37px;
	    border-radius: 0;
	}

	.sw-odd .sw-image .sw-buy:before {
		content: "\f07a";
		font-family: "FontAwesome";
		color: #fff;
		position: absolute;
		left: 20%;
		top: -1px;
	}

	.sw-odd .sw-image .sw-buy:hover {
		background: #2e363a;
	}

	.home-boxed .boxed {
		width: 92.708%;
		margin: 0 auto;
	    margin-bottom: 30px;
	    position: relative;
	    z-index: -2;
	    background-color: #fff;
	    box-shadow: 0 0 16px 1px #7f7f7f;
	    overflow: hidden;
	}
